<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$TITLE}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$ROOT}/widget/mobile/jquery.mobile-1.4.5.min.css">
    <script src="{$ROOT}/widget/mobile/jquery.js"></script>
    <script src="{$ROOT}/widget/mobile/jquery.mobile-1.4.5.min.js"></script>
</head>
<style type="text/css">
    .newline{ white-space:pre-wrap;}
</style>
<body>
<div data-role="page" data-ajax="false">
    {__CONTENT__}
    <div data-role="footer" style="text-align: center">
        {$COPYRIGHT}
    </div><!-- /footer -->
</div><!-- /page -->
</body>
</html>